@model FrontEnd.Models.UsuarioViewModel

@{
    ViewBag.Title = "Editar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var u = Model;
    u.clave = "--------";
}

<h2>Editar Usuario</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4> - Detalles - </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" data-val="true" data-val-number="The field Estado must be a number." data-val-required="Debe digitar un estado" id="estado" name="estado">
                <option value="">--Select--</option>
                <option value="0" @( u.estado == 0 ? " selected " : "" )>Desactivado</option>
                <option value="1" @( u.estado == 1 ? " selected " : "" )>Activado</option>
            </select>
            @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
        </div>
    </div>


    @Html.HiddenFor(model => model.salt)


    <div class="form-group">
        @Html.LabelFor(model => model.clave, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.clave, new { htmlAttributes = new { @type = "password", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.tipo)
    @Html.HiddenFor(model => model.fecha_creacion)
    @Html.HiddenFor(model => model.ultimo_login)

    <div class="form-group">
        @Html.LabelFor(model => model.identificacion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.identificacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.identificacion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.email1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.email1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email1, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.email2)


    <div class="form-group">
        @Html.LabelFor(model => model.telefono1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.telefono1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.telefono1, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.telefono2)

    <div class="form-group">
        @Html.LabelFor(model => model.pais, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.pais, new SelectList(u.Paises, "id", "country_name", u.pais), "--Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.pais, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.provincia, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.provincia, new SelectList(u.Provincias, "id", "Nombre", u.provincia), "--Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.pais, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.canton, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.canton, new SelectList(u.Cantones, "canton", "Nombre", u.canton), "--Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.canton, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.distrito, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-4">
            @Html.DropDownListFor(model => model.distrito, new SelectList(u.Distritos, "id", "nombre", u.distrito), "--Select--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.distrito, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
